.logo {
    background-image: url('../../img/LogoBlueSmall.svg');
    background-repeat: no-repeat;
    height: 2.2em;
    margin: 10em auto 0 auto;
    width: 8.9em;
    position: relative;
}

/*Mascara para criar um link apenas nas telas de celular*/
.logo a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.paragraphContainer {
    color: var(--blue);
    margin: 0 auto;
    width: 90%;
    max-width: 30.5em;
}

.container form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    margin: 0 auto 4em auto;
    width: 90%;
}

.container form label {
    color: var(--darkGray);
}

.container form input {
    background-color: var(--lightGray);
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 0.75em;
    outline: none;
    padding: 0.75em;
    width: 95%;
}

.container form input::placeholder {
    color: var(--placeholder);
    font-size: 0.75em;
    text-align: center;
}

.container form small {
    align-self: flex-start;
    color: var(--red);
    font-size: 0.75em;
    padding: 0 0.5em;
}

.container form button {
    margin-top: 0.5em;
    max-width: 9.25em;
}

/*BREAKPOINT PARA TELAS DE TABLETS*/
@media screen and (min-width: 48em) {
    .container .logoContainer {
        margin: 2em 0 0 2em;
    }

    .logo {
        background-size: contain;
        height: 3.87em;
        width: 15.6em;
    }

    .logo a {
        display: none;
    }

    .paragraphContainer {
        font-size: 1.125em;
        margin: 2.5em auto;
    }

    .container form {
        width: 50%;
    }

    .container form input {
        margin-bottom: 1.5em;
    }

    .container form input::placeholder {
        font-size: 0.875em;
    }
}

/*BREAKPOINT PARA TELAS GRANDES*/
@media screen and (min-width: 75em) {
    .container {
        margin: 0 auto;
        width: 85%;
    }

    .container .logoContainer {
        margin: 2em 0 0 0em;
    }

    .logo {
        margin: 2em auto 0 auto;
    }

    .paragraphContainer {
        font-size: 1.125em;
        margin: 1.5em auto 1em auto;
    }

    .container form {
        width: 40%;
    }

    .container form label {
        font-size: 1.125em;
        font-weight: 600;
    }

    .container form input {
        margin-bottom: 1em;
    }

    .container form input::placeholder {
        font-size: 1em;
    }
}
