.button {
    background-color: var(--red);
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: var(--white);
    font-weight: 600;
    padding: 0.5em 0.25em;
    text-decoration: none;
    width: 11.25em;
}

.button:hover {
    background-color: var(--redHover);
}

/*BREAKPOINT PARA TELAS DE TABLETS*/
@media screen and (min-width: 48em) {
    .button {
        font-size: 1.125em;
    }
}
