.container {
    padding: 0 1em;
}

.paragraph {
    color: var(--blue);
    margin: 3.5em auto 0 auto;
    width: 90%;
}

.container .imageContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

.container .imageContainer p {
    color: var(--darkGray);
    font-size: 1.25em;
    font-weight: 600;
    margin-bottom: 0.25em;
}

.container .imageContainer label {
    align-self: flex-start;
    color: var(--blue);
    font-weight: 600;
}

.container .imageContainer img {
    cursor: pointer;
    height: 5em;
    width: 5em;
}

.container .imageContainer span {
    color: var(--red);
    font-size: 0.75em;
}

.formContainer {
    background-color: var(--lightGray);
    border-radius: 10px;
    margin: 1em auto 4em auto;
}

.container .formContainer form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding: 1em 1em;
}

.container .formContainer form label {
    color: var(--blue);
    font-weight: 600;
}

.container .formContainer form input,
.container .formContainer form textarea {
    background-color: var(--white);
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 0.75em;
    padding: 0.75em;
    width: calc(100% - 1.5em);
}

.container .formContainer form input::placeholder,
.container .formContainer form textarea::placeholder {
    color: var(--gray);
    font-family: var(--poppins);
    font-size: 0.75em;
    text-align: left;
}

.container .formContainer form textarea {
    height: 4.5em;
    font-family: var(--poppins);
    resize: none;
}

.container .formContainer form button {
    align-self: center;
    margin-top: 0.5em;
    max-width: 9.25em;
}

/*BREAKPOINT PARA TELAS DE TABLETS*/
@media screen and (min-width: 48em) {
    .logoContainer {
        align-items: center;
        display: flex;
        gap: 1em;
    }

    .paragraph {
        font-size: 1.125em;
        margin: 6em auto 0 auto;
        max-width: 70%;
    }

    .formContainer {
        margin: 2.5em auto 4em auto;
        width: 70%;
    }

    .container .formContainer form input,
    .container .formContainer form textarea {
        margin-bottom: 1.5em;
    }

    .container .formContainer form textarea {
        height: 10em;
        font-size: 0.875em;
    }

    .container .formContainer form input::placeholder,
    .container .formContainer form textarea::placeholder {
        font-size: 0.875em;
    }
}
