.container {
    width: 100%;
}

.logo {
    background-image: url('../../img/LogoWhite.svg');
    background-repeat: no-repeat;
    height: 2.85em;
    margin: 10em auto 0 auto;
    width: 11.8em;
}

.home h2 {
    color: var(--white);
    font-family: var(--ibm);
    font-size: 1.5em;
    font-weight: 500;
}

.home p {
    color: var(--white);
    font-size: 1em;
    font-weight: 400;
    margin: 0 auto;
    width: 70%;
    max-width: 30.5em;
}

.buttonContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}

.buttonContainer a {
    width: 50%;
    max-width: 22.5em;
}

/*BREAKPOINT PARA TELAS DE TABLETS*/
@media screen and (min-width: 48em) {
    .container .logoContainer {
        margin: 2em 0 0 2em;
    }

    .logo {
        background-size: contain;
        height: 3.87em;
        width: 15.6em;
    }

    .home h2 {
        margin: 2.5em 0 1.5em 0;
    }

    .buttonContainer {
        margin-top: 2.5em;
    }
}
