.footer {
    align-items: center;
    background-color: var(--green);
    display: flex;
    height: 4em;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p {
    color: var(--white);
    font-size: 1em;
    font-weight: 400;
}
