.container {
    background-image: url('../../img/Dogs.svg');
    background-size: contain;
    height: 13.5em;
    position: absolute;
    bottom: 3em;
    left: calc(50vw - 6.25em);
    width: 10.8em;
    z-index: -1;
}

/*BREAKPOINT PARA TELAS DE TABLETS*/
@media screen and (min-width: 48em) {
    .container {
        bottom: 2.5em;
        height: 20.4em;
        left: calc(50vw - 9.25em);
        width: 16.3em;
    }
}
