.container {
    background-image: url('../../img/Dogs.svg');
    background-size: contain;
    height: 15em;
    position: absolute;
    bottom: 2.5em;
    left: calc(50vw - 6.25em);
    width: 11.5em;
}
