.container {
    background-image: url('../../img/StyleLeftSmall.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 23em;
    position: absolute;
    left: 0;
    bottom: 4.5em;
    width: 4.25em;
    z-index: -1;
}
