.container {
    background-image: url('../../img/StyleLeftSmall.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 20em;
    position: absolute;
    left: 0;
    bottom: 4.5em;
    width: 3.75em;
    z-index: -1;
}

/*BREAKPOINT PARA TELAS DE TABLETS*/
@media screen and (min-width: 48em) {
    .container {
        background-image: url('../../img/Style-Side.svg');
        height: 34.5em;
        left: auto;
        right: 0;
        top: 16.5em;
        bottom: auto;
        width: 5.62em;
    }
}

/*BREAKPOINT PARA TELAS GRANDES*/
@media screen and (min-width: 75em) {
    .container {
        top: 12.5em;
    }
}

/*BREAKPOINT PARA TELAS DE NOTEBOOKS PEQUENAS COM ALTURA DE 864PX NO MÁXIMO*/
@media screen and (min-width: 75em/*1200px*/) and (max-height: 54em /*864px*/) {
    .container {
        top: 6.5em;
    }
}
