.container {
    width: 98%;
    height: 18.5em;
    background-image: url('../../img/StyleTop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/*BREAKPOINT PARA TELAS DE TABLETS*/
@media screen and (min-width: 48em) {
    .container {
        height: 25em;
    }
}
