.container {
    background-image: url('../../img/Style-Side.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 23em;
    position: absolute;
    right: 0;
    top: 12.5em;
    width: 3.75em;
    z-index: -1;
}

/*BREAKPOINT PARA TELAS DE TABLETS*/
@media screen and (min-width: 48em) {
    .container {
        height: 34.5em;
        width: 5.62em;
    }
}

/*BREAKPOINT PARA TELAS DE NOTEBOOKS PEQUENAS COM ALTURA DE 864PX NO MÁXIMO*/
@media screen and (min-width: 75em/*1200px*/) and (max-height: 54em /*864px*/) {
    .container {
        top: 6.5em;
    }
}
